body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1583px;
  height:60px;
  font-size:28px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1593px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:1579px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:72px;
  width:200px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:810px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:170px;
  top:130px;
  width:180px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u5 {
  position:absolute;
  left:365px;
  top:80px;
  width:10px;
  height:792px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:775px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:792px;
}
#u6 {
  position:absolute;
  left:170px;
  top:82px;
  width:200px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:141px;
  width:200px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
